;<html>
  <head>
    <title>Transactional email</title>
  </head>
  <body>
    <div>
      <p style="font-weight: bold;">Please find below a new password:</p>
      <p>{{ password }}</p>
    </div>
  </body>
</html>
