;<html>
  <head>
    <title>Transactional email</title>
  </head>
  <body>
    <div>
      <span style="font-weight: bold;">
        Please follow the link to verify account:
      </span>
      <a href="{{link}}">Click to verify</a>
    </div>
  </body>
</html>
